// =====================================================================================================================
// header parts
// ---------------------------------------------------------------------------------------------------------------------
// header
// ·····················································································································
@header-height: 50px;
// ·····················································································································
@header-color: #eee;
@header-bg: #990033;
@header-link-color: #eee;
@header-link-hover-color: #fff;
@header-link-active-color: #f6f6f6;
// =====================================================================================================================
//
// =====================================================================================================================
// main parts
// ---------------------------------------------------------------------------------------------------------------------
// main
// ·····················································································································
// =====================================================================================================================
//
// =====================================================================================================================
// footer parts
// ---------------------------------------------------------------------------------------------------------------------
// footer
// ·····················································································································
@footer-height: 50px;
// =====================================================================================================================